<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sde_pullNetsuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <sde_pullNetsuite.Properties.Settings>
            <setting name="sde_pullNetsuite_localhost_Service1" serializeAs="String">
                <value>http://localhost:8001/WCF/Service1.svc</value>
            </setting>
            <setting name="sde_pullNetsuite_WCFsde_Service1" serializeAs="String">
                <value>http://localhost:8001/WCF/Service1.svc</value>
            </setting>
        </sde_pullNetsuite.Properties.Settings>
    </applicationSettings>
</configuration>