<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="sde.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="SummaryLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\\inetpub\\wwwroot\\sde_publish\\Logger\\SummaryLog.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date  %-5level %logger  - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="DataFromNetsuite" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\\inetpub\\wwwroot\\sde_publish\\Logger\\DataFromNetsuite.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="DataReqInMQ" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\\inetpub\\wwwroot\\sde_publish\\Logger\\DataReqInMQ.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="SDEPullMQ" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\\inetpub\\wwwroot\\sde_publish\\Logger\\SDEPullMQ.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="SSAPullPushMQ" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\\inetpub\\wwwroot\\sde_publish\\Logger\\SSAPullPushMQ.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="WMSPullPushMQ" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\\inetpub\\wwwroot\\sde_publish\\Logger\\WMSPullPushMQ.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="BCASPullPushMQ" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\\inetpub\\wwwroot\\sde_publish\\Logger\\BCASPullPushMQ.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="CPASPullPushMQ" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\\inetpub\\wwwroot\\sde_publish\\Logger\\CPASPullPushMQ.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="SummaryLog" />
    </root>
    <logger name="DataFromNetsuite">
      <level value="ALL" />
      <appender-ref ref="DataFromNetsuite" />
    </logger>
    <logger name="DataReqInMQ">
      <level value="ALL" />
      <appender-ref ref="DataReqInMQ" />
    </logger>
    <logger name="SDEPullMQ">
      <level value="ALL" />
      <appender-ref ref="SDEPullMQ" />
    </logger>
    <logger name="SSAPullPushMQ">
      <level value="ALL" />
      <appender-ref ref="SSAPullPushMQ" />
    </logger>
    <logger name="WMSPullPushMQ">
      <level value="ALL" />
      <appender-ref ref="WMSPullPushMQ" />
    </logger>
    <logger name="BCASPullPushMQ">
      <level value="ALL" />
      <appender-ref ref="BCASPullPushMQ" />
    </logger>
    <logger name="CPASPullPushMQ">
      <level value="ALL" />
      <appender-ref ref="CPASPullPushMQ" />
    </logger>
  </log4net>
  <connectionStrings>
     <!--Production Connectionstring-->
    <add name="mysql" connectionString="Datasource=192.168.64.2;Database=test;uid=root;pwd=root" providerName="MySql.Data.MySqlClient" />
    <add name="mysql2" connectionString="Server=sde3.c4btv393jwt2.ap-southeast-1.rds.amazonaws.com;Database=sde;Uid=sdeAdmin03;Pwd=$$de1368; min pool size=0; max pool size=100; pooling=true;" />
    <add name="DefaultConnection" connectionString="Data Source=C:\\inetpub\\wwwroot\\sde_publish\\App_Data\\Membership.sdf;" providerName="System.Data.SqlServerCe.4.0" />
    <add name="sdeEntities" connectionString="metadata=res://*/Models.DataModel.csdl|res://*/Models.DataModel.ssdl|res://*/Models.DataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sde3.c4btv393jwt2.ap-southeast-1.rds.amazonaws.com;user id=sdeAdmin03;password=$$de1368;database=sde; min pool size=0; max pool size=100; pooling=true;&quot;" providerName="System.Data.EntityClient" />
    
    <!-- Connection Timeout=180;<add name="mysql2" connectionString="Server=localhost;Database=sde;Uid=root;Pwd=root;" />
    <add name="sdeEntities" connectionString="metadata=res://*/Models.DataModel.csdl|res://*/Models.DataModel.ssdl|res://*/Models.DataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;database=sde&quot;" providerName="System.Data.EntityClient" />-->

    <!--UAT Connectionstring-->
    <!--<add name="mysql" connectionString="Datasource=192.168.64.2;Database=test;uid=root;pwd=root" providerName="MySql.Data.MySqlClient" />
    <add name="mysql2" connectionString="Server=sde-test.c4btv393jwt2.ap-southeast-1.rds.amazonaws.com;Database=sde;Uid=sdeAdmin;Pwd=$deAdmin2688; min pool size=0; max pool size=100; pooling=true;AutoEnlist=false" />
    <add name="DefaultConnection" connectionString="Data Source=C:\inetpub\wwwroot\sde_publish\App_Data\Membership.sdf;" providerName="System.Data.SqlServerCe.4.0" />
    <add name="sdeEntities" connectionString="metadata=res://*/Models.DataModel.csdl|res://*/Models.DataModel.ssdl|res://*/Models.DataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;&#xD;&#xA;    server=sde-test.c4btv393jwt2.ap-southeast-1.rds.amazonaws.com;Database=sde;Uid=sdeAdmin;Pwd=$deAdmin2688; &#xD;&#xA;    &quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="enableSimpleMembership" value="false" />
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="1024000000" executionTimeout="50000000" />
    <sessionState mode="InProc" timeout="500" />
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms" />
    <membership defaultProvider="myMembershipProvider">
      <providers>
        <add name="myMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="myRoleProvider">
      <providers>
        <add name="myRoleProvider" type="sde.Controllers.MySqlRoleProvider" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <services>
      <service name="MSMQNoSecurityService.MSMQService">
        <host>
          <baseAddresses>
            <add baseAddress="http://mohammad-pc:8080/Design_Time_Addresses/MSMQNoSecurityService/MSMQService/" />
          </baseAddresses>
        </host>
        <endpoint address="net.msmq://mohammad-pc/private/testqueue" binding="netMsmqBinding" bindingConfiguration="MyBinding" contract="MSMQNoSecurityService.IMSMQService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <netMsmqBinding>
        <binding name="MyBinding">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <client />
  </system.serviceModel>
  <applicationSettings>
    <sde.Properties.Settings>
      <setting name="sde_WCFsde_Service1" serializeAs="String">
        <!--sandbox-->
        <!--<value>http://localhost:54776/WCF/Service1.svc</value>-->
        <!--production-->
        <value>http://localhost:54775/WCF/Service1.svc</value>
      </setting>
      <setting name="sde_WCFssa_SSA_Service1" serializeAs="String">
        <!--sandbox-->
        <!--<value>http://localhost:54776/WCF SSA/SSA_Service1.svc</value>-->
        <!--production-->
        <value>http://localhost:54775/WCF%20SSA/SSA_Service1.svc</value>
      </setting>
      <setting name="sde_comNetsuiteSandboxServices_NetSuiteService"
        serializeAs="String">
        <value>https://webservices.sandbox.netsuite.com/services/NetSuitePort_2016_2</value>
      </setting>
      <setting name="sde_comNetsuiteServices_NetSuiteService" serializeAs="String">
        <!--sandbox-->
        <!--<value>https://3479023-sb2.suitetalk.api.netsuite.com/services/NetSuitePort_2017_2</value>-->
        <!--production-->
        <value>https://3479023.suitetalk.api.netsuite.com/services/NetSuitePort_2017_2</value>
        <!-- <value>https://3479023.suitetalk.api.netsuite.com/services/NetSuitePort_2016_2</value>-->
      </setting>
    </sde.Properties.Settings>
  </applicationSettings>
  <system.transactions>
    <defaultSettings timeout="2400" />
  </system.transactions>
</configuration>